.DS_Store
**/node_modules
.cache
.worktrees
.env
.vscode
tmp
dist
ts-dist
.direnv/
doc/external

# Local dev files
logs/
*.bun-build
.spall
./test/
doc
AGENTS.md
*.tsbuildinfo
docs
.local
test/
packages/tui-db
